.main{
  text-align: center;
  margin-top: 20px;
}
.app{
  display: flex;
  padding: 50px 50px;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.components{
  background-color:#7EE5E1;
  width: 30vw;
  height: 20vh;
  padding: 20px;
  margin:20px;
  border-radius: 20px;
}